#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.drinksList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.drink img {
  border-radius: 5px;
}
